In [0]:
import pandas as pd

df = pd.read_csv('spambase.data', header=None)

X = df.drop(columns=[57])
y = df[57]

print(X.head())
print(y.head())

     0     1     2    3     4     5   ...     51     52     53     54   55    56
0  0.00  0.64  0.64  0.0  0.32  0.00  ...  0.778  0.000  0.000  3.756   61   278
1  0.21  0.28  0.50  0.0  0.14  0.28  ...  0.372  0.180  0.048  5.114  101  1028
2  0.06  0.00  0.71  0.0  1.23  0.19  ...  0.276  0.184  0.010  9.821  485  2259
3  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.137  0.000  0.000  3.537   40   191
4  0.00  0.00  0.00  0.0  0.63  0.00  ...  0.135  0.000  0.000  3.537   40   191

[5 rows x 57 columns]
0    1
1    1
2    1
3    1
4    1
Name: 57, dtype: int64

In [0]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

X, y = shuffle(X, y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

brain = MultinomialNB()
brain.fit(X_train, y_train)

print(brain.score(X_test, y_test))

0.7899934167215273

In [0]:
from sklearn.ensemble import RandomForestClassifier

brain = RandomForestClassifier()
brain.fit(X_train, y_train)

print(brain.score(X_test, y_test))

0.9466754443712969

In [0]:
from sklearn.ensemble import AdaBoostClassifier

brain = AdaBoostClassifier()
brain.fit(X_train, y_train)

print(brain.score(X_test, y_test))

0.9354838709677419

In [7]:
#SMS SPAM DETECTION
import pandas as pd

df = pd.read_csv('spam.csv', encoding = "ISO-8859-1")

df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [8]:
X = df['v2']
y = df['v1'].replace('ham', 0).replace('spam', 1)

print(X.head())
print(y.head())

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: v2, dtype: object
0    0
1    0
2    1
3    0
4    0
Name: v1, dtype: int64

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(X.values)

print(X)

  (0, 8267)	0.18238655630689804
  (0, 1069)	0.3264252905795869
  (0, 3594)	0.15318864840197105
  (0, 7645)	0.15566431601878158
  (0, 2048)	0.2757654045621182
  (0, 1749)	0.3116082237740733
  (0, 4476)	0.2757654045621182
  (0, 8489)	0.22080132794235655
  (0, 3634)	0.1803175103691124
  (0, 1751)	0.2757654045621182
  (0, 4087)	0.10720385321563428
  (0, 5537)	0.15618023117358304
  (0, 1303)	0.24415547176756056
  (0, 2327)	0.25279391746019725
  (0, 5920)	0.2553151503985779
  (0, 4350)	0.3264252905795869
  (0, 8030)	0.22998520738984352
  (0, 3550)	0.1481298737377147
  (1, 5533)	0.5465881710238072
  (1, 8392)	0.4316010362639011
  (1, 4318)	0.5236458071582338
  (1, 4512)	0.4082988561907181
  (1, 5504)	0.27211951321382544
  (2, 77)	0.23012628226525952
  (2, 1156)	0.16541257593676326
  :	:
  (5570, 1786)	0.2829205787072918
  (5570, 3470)	0.2752778321471703
  (5570, 2892)	0.24400995680638932
  (5570, 7049)	0.20534386872930602
  (5570, 1778)	0.1366456751602606
  (5570, 8065)	0.20880862098597563
  (5570, 2592)	0.1845863450431389
  (5570, 5334)	0.21003730857873565
  (5570, 1438)	0.1429585509124154
  (5570, 7627)	0.10242646659763288
  (5570, 3308)	0.12172172618634512
  (5570, 7039)	0.18426763178390448
  (5570, 4615)	0.15965529817341642
  (5570, 1084)	0.11225268140936365
  (5570, 8313)	0.18723687600522526
  (5570, 4218)	0.1224661019112692
  (5570, 3781)	0.17077863975758362
  (5570, 7756)	0.0837337985706596
  (5570, 3358)	0.15948934578787605
  (5570, 4087)	0.11172931760302046
  (5571, 6505)	0.5565029307246047
  (5571, 7885)	0.4275291317643216
  (5571, 4225)	0.5773238083586979
  (5571, 5244)	0.3900900272638623
  (5571, 7756)	0.14849350328973987

In [11]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
brain = AdaBoostClassifier()
brain.fit(X_train, y_train)

print(brain.score(X_test, y_test))

0.9700924415443176